html {
    min-height: 100%;
    width: 100%;
}

body {
    min-height: 100%;
    margin: 0;
    padding: 0;
    color: #FFFFFF;
    font-family: 'Raleway', sans-serif;
    background: linear-gradient(to bottom left, #dd2b58, #4430b4);
}

h1 {
    text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.2);
    font-size: 26px;
}

@media screen and (min-width: 750px) {

    h1 {
        position: absolute;
        top: 100px;
        left: 60px;
        text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.2);
        font-size: 26px;
        z-index: 200;
    }

    #video {
        position: fixed;
        right: 0;
        left: 0;
        bottom: 0;
        top: 0;
        min-width: 100%;
        min-height: 100%;
        z-index: 10;
    }

    #content {
        position: fixed;
        right: 0;
        left: 0;
        bottom: 0;
        top: 0;
        z-index: 100;
    }

    #logo {
        position: absolute;
        top: 50px;
        left: 50px;
        width: 400px;
        z-index: 200;
    }

    #youtubelogo {
        position: absolute;
        bottom: 50px;
        right: 50px;
    }

    #youtubelogo img {
        height: 140px;
    }

    #twitchlogo {
        position: absolute;
        bottom: 50px;
        right: 280px;
    }

    #twitchlogo img {
        height: 140px;
    }

    #appstore {
        width: 240px;
        position: absolute;
        top: 50px;
        right: 50px;
    }

    #playstore {
        width: 240px;
        position: absolute;
        top: 140px;
        right: 50px;
    }

    #screenshot {
        position: absolute;
        left: 50px;
        bottom: 0;
        height: 70%;
        z-index: 150;
    }

}

@media screen and (max-width: 749px) {

    #video {
        display: none;
    }

    #content {
        text-align: center;
    }

    #logo {
        width: 80%;
        display: block;
        margin: 20px auto;
    }

    #youtubelogo img {
        height: 120px;
        margin: 0 20px;
    }

    #twitchlogo img {
        height: 120px;
        margin: 0 20px;
    }

    #appstore {
        width: 240px;
        display: block;
        margin: 20px auto;
    }

    #playstore {
        width: 240px;
        display: block;
        margin: 20px auto;
    }

    #stores {
        margin: 60px auto;
    }

    #screenshot {
        display: none;
    }

}
