<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Live Streaming</title>

    <link rel="stylesheet" href="/resource/mediaelement/mediaelementplayer.min.css" />

</head>
<body>

<script src="/resource/mediaelement/mediaelement-and-player.min.js"></script>

<video id="video"
    autoplay
    controls

    width="960"
    height="540">
    <source type="application/x-mpegURL" src="/frags/hls/alt09_low.m3u8" />
</video>

<script type="text/javascript">
    var player = new MediaElementPlayer('video', {
        autoplay: true,
    });
</script>

</body>
</html>
