{% extends 'base.jinja2' %}

{% block content %}
    <div class="private-readings">
        <div class="hero full-height">
            <h1>Private Tarot Readings</h1>
            <h2>from Tarot Tube Host, Keiran McCormack</h2>
            <img src="/resource/keiran.jpg" class="photo" />
            <p>
                Hello, my name is Keiran McCormack and I'm a professional Tarot Coach.
                You may recognize me from my app, Tarot Tube Live, where
                I do daily readings for the super-ego every morning at 9:00 AM Eastern.
            </p>
            <p>
                I don't consider myself a psychic, nor do I believe the Tarot posesses
                any more <em>magic</em> that 600 years of well-developed tradition and
                use.
            </p>
            <p>
                That said, I see the Tarot as an invaluable tool for self-reflection. The
                cards represent 78 archetypes of human experience, and serve as a powerful
                mirror to our most deeply-held secrets and feelings.
            </p>
            <p>
                My readings range from 15-minutes to an hour, and can be conducted
                over Skype, Google Meet, FaceTime, or another video chat program.
                I'm also available for in-person readings, parties, and corporate
                events in the greater New York City area.
            </p>
            <button class="cta">
                Let's Do a Reading Together!
            </button>
        </div>

        <div class="video-chat-readings double-column">
            <div class="main-image" style="background-image: url('/resource/candle.jpg')">
            </div>
            <div class="content">
                <h1>Readings Over Video-Chat</h1>
                <p>
                    I believe the powers of Tarot for self-reflection are equally
                    as valid over video-chat as they are in-person. The convenience
                    of video-chat allows us to connect with people across the world
                    in ways never accomplished before!
                </p>
                <p>
                    I'm comfortable working with whatever video-chat program
                    you prefer, including:
                </p>
                <ul>
                    <li>Skype</li>
                    <li>Google Meet</li>
                    <li>Google Hangout</li>
                    <li>Facetime</li>
                    <li>Facebook Video</li>
                </ul>
                <p>
                    When you book a video-chat reading with me, I'll reach out via
                    email to coordinate a time that works for both of us for a reading,
                    and provide you with some preperatory exercises to get you thinking
                    and in the right spirit for an effective reading.
                </p>
                <p>
                    After your reading is over, I'll email a review of the topics we
                    discussed, including a photo and summary of all the cards drawn, so
                    that you can spend subsequent days integrating.
                </p>
                <p>
                    I recommend a minimum of at least one month between readings, to help
                    clear the air of any potential lingering energy. I find that more frequent
                    readings just lead to similar conclusions.
                </p>
                <p>
                    Because I believe face-to-face communication is so important to readings,
                    I don't do readings over the phone, via text, or via email, so make sure
                    your video-chat equipment is functioning and you have access to a reliable
                    internet connection.
                </p>
                <p>
                    Video chat does sometimes experience hiccups, so if anything goes wrong,
                    we can reschedule or refund the reading.
                </p>
                <button class="cta">
                    Schedule a Video-Chat Reading
                </button>
            </div>
        </div>

        <div class="party-readings double-column">
            <div class="content">
                <h1>Party Tarot Readings</h1>
                <p>
                    Hosting a party or event?
                </p>
                <p>
                    I've done Tarot Readings at a number of different types of events
                    in the greater New York City area,
                    and would be happy to work with you to make yours memorable with
                    Tarot readings for your guests.
                </p>
                <ul>
                    <li>Birthday Parties</li>
                    <li>House Parties</li>
                    <li>Cocktail Parties</li>
                    <li>Dinner Parties</li>
                    <li>Concerts</li>
                    <li>Festivals</li>
                    <li>Fairs</li>
                    <li>Gallery Openings</li>
                </ul>
                <p>
                    Every party is a little bit different, so we need to work together
                    to plan it, but rates are typically in the range of $100-$300/hour,
                    depending on the details of the event.
                </p>
                <p>
                    All I really need to do readings is a small table in a relatively
                    quiet place, and a guest-list of open-minded people.
                </p>
                <p>
                    Typically, readings are offered to guests for free with a sign-up sheet.
                    Reading durations depend on the size of the event and the level of interest,
                    but typically consist of brief 3-card readings that last about 10 minutes.
                </p>
                <p>
                    Be sure to let me know if your event has any special considerations.
                </p>
                <button class="cta" data-cta="email">
                    Email Me to Plan an Event
                </button>
            </div>
            <div class="main-image" style="background-image: url('/resource/party.jpg')">
            </div>
        </div>

        <div class="party-readings double-column">
            <div class="main-image" style="background-image: url('/resource/corp.jpg')">
            </div>
            <div class="content">
                <h1>Corporate Tarot Events</h1>
                <p>
                    Run a company in New York?
                </p>
                <p>
                    Want to offer your employees a unique perk,
                    <em>and</em> provide coaching and guidance?
                </p>
                <p>
                    My background is in tech startups, and so I understand deeply
                    the complexities of running a modern business. Offer your employees
                    the unique perk of Free Tarot Readings!
                </p>
                <p>
                    For $400-$1,000, depending on the details, I can set up shop
                    in a conference room and perform Tarot Readings all day for
                    your employees.
                </p>
                <p>
                    It's an incredibly unique and appealing experience, and most of
                    the companies that have participated in my corporate events have
                    asked me back for more!
                </p>
                <p>
                    While some people might not see the benefits of Tarot to business,
                    as an effective tool for self-reflection, Tarot can help get to the
                    bottom of motivation issues, and can serve as a coaching tool.
                </p>
                <p>
                    Not only is it a fun perk that you can offer your employees, but
                    you also get the added benefit of increased productivity from the
                    coaching.
                </p>
                <p>
                    I typically do corporate readings by setting up for a 6-hour day
                    (with an hour lunch break) in a conference room or private office,
                    and do readings by appointment in 10-20 minute intervals.
                </p>
                <p>
                    Explore the spiritual side of your business with a Tarot day!
                </p>
                <button class="cta" data-cta="email">
                    Email Me to Plan an Event
                </button>
            </div>
        </div>

        <div class="checkout full-height">

            <div class="checkout-buttons">
                <h1>Schedule a Video-Chat Reading Now!</h1>

                <button class="cta charge-15" data-cta="charge" data-time="15">
                    15-Minute Tarot Reading - $40
                </button>

                <button class="cta charge-30" data-cta="charge" data-time="30">
                    30-Minute Tarot Reading - $60
                </button>

                <button class="cta" data-cta="email">
                    or Email Me to Plan an Event
                </button>
            </div>

            <div class="thank-you">
                <h1>Thank you for checking out!</h1>
                <h2>
                    Keiran will reach out by email to find a time that
                    works for both you to chat, and will also send your
                    welcome packet!
                </h2>
                <h2>
                    In the mean time, if you have any trouble, feel
                    free to <a href="mailto:keiran@tarottube.com">email him.</a>
                </h2>
            </div>
        </div>
    </div>
{% endblock %}
