<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Daily Live-Streamed Tarot Readings from Tarot Tube</title>

    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="/resource/root.css" />

    <link rel="icon" type="image/png" href="/resource/favicon.png">
</head>
<body>

<video id="video" autoplay loop>
    <source type="video/mp4" src="/resource/vidbg.mp4" />
</video>

<div id="content">
    <img src="/resource/logo_long_white.png" id="logo" alt="tarot-tube" />
    <h1>Live-Streamed Tarot Readings!</h1>

    <div id="stores">
        <img src="/resource/appstore_soon.png" id="appstore" />
        <img src="/resource/playstore_soon.png" id="playstore" />
    </div>

    <div id="links">
        <a href="https://www.youtube.com/channel/UCs6ROcibxMLKLEF521RyPqw" id="youtubelogo">
            <img src="/resource/youtube.png" />
        </a>
        <a href="https://www.twitch.tv/tarottubedaily" id="twitchlogo">
            <img src="/resource/twitch.png" />
        </a>
    </div>
</div>

</body>
</html>
