<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Daily Live-Streamed Tarot Readings from Tarot Tube</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="apple-itunes-app" content="app-id=1337909323">

    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="/resource/root.css" />

    <link rel="icon" type="image/png" href="/resource/favicon.png">
</head>
<body>

<video id="video" autoplay loop>
    <source type="video/mp4" src="/resource/vidbg.mp4" />
</video>

<div id="content">
    <img src="/resource/logo_long_white.png" id="logo" alt="tarot-tube" />
    <h1>Live-Streamed Tarot Readings!</h1>

    <img src="/resource/iphone-screenshot.png" id="screenshot" />

    <div id="stores">
        <a href="https://itunes.apple.com/us/app/tarot-tube-live/id1337909323?ls=1&mt=8">
            <img src="/resource/appstorebadge.png" id="appstore" />
        </a>
        <a href="https://play.google.com/store/apps/details?id=com.tarottube.live">
            <img src="/resource/playstore.png" id="playstore" />
        </a>
    </div>

    <div id="links">
        <a href="https://www.youtube.com/channel/UCs6ROcibxMLKLEF521RyPqw" id="youtubelogo">
            <img src="/resource/youtube.png" />
        </a>
        <a href="https://www.twitch.tv/tarottubedaily" id="twitchlogo">
            <img src="/resource/twitch.png" />
        </a>
    </div>
</div>

</body>
</html>
