<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Vendor styles -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
        <link rel="stylesheet" href="{{ resource('/smartadmin/vendors/bower_components/animate.css/animate.min.css') }}">
        <link rel="stylesheet" href="{{ resource('/smartadmin/vendors/bower_components/jquery.scrollbar/jquery.scrollbar.css') }}">

        <!-- App styles -->
        <link rel="stylesheet" href="{{ resource('/smartadmin/css/app.min.css') }}">
        <link rel="stylesheet" href="{{ resource('/admin.css') }}">

        <link rel="stylesheet" href="{{ resource('/codemirror-5.33.0/lib/codemirror.css') }}">
        <link rel="stylesheet" href="{{ resource('/codemirror-5.33.0/theme/blackboard.css') }}">
        <script src="{{ resource('codemirror-5.33.0/lib/codemirror.js') }}"></script>
        <script src="{{ resource('codemirror-5.33.0/mode/yaml/yaml.js') }}"></script>

        <title>{{ title or "Tarot Tube Admin" }}</title>

    </head>

    <body data-sa-theme="3">
        <main class="main">
            <header class="header">
                <div class="navigation-trigger hidden-xl-up" data-sa-action="aside-open" data-sa-target=".sidebar">
                    <i class="zmdi zmdi-menu"></i>
                </div>

                <div class="logo hidden-sm-down">
                    <h1><a href="index.html">Tarot Tube</a></h1>
                </div>

                <!--<form class="search">
                    <div class="search__inner">
                        <input type="text" class="search__text" placeholder="Search for people, files, documents...">
                        <i class="zmdi zmdi-search search__helper" data-sa-action="search-close"></i>
                    </div>
                </form>-->
            </header>

            <aside class="sidebar">
                <div class="scrollbar-inner">

                    <ul class="navigation">
                        <li>
                            <a href="/admin/">
                                <i class="zmdi zmdi-home"></i>
                                Home / Upcoming
                            </a>
                        </li>

                        <li>
                            <a href="/admin/schedules">
                                <i class="zmdi zmdi-calendar"></i>
                                Schedules
                            </a>
                        </li>

                        <li>
                            <a href="/admin/past-timeslots/">
                                <i class="zmdi zmdi-caret-left-circle"></i>
                                Past Timeslots
                            </a>
                        </li>
                        <li>
                            <a href="/admin/deprecated-timeslots/">
                                <i class="zmdi zmdi-delete"></i>
                                Deprecated Timeslots
                            </a>
                        </li>

                        <li>
                            <a href="/admin/faq/">
                                <i class="zmdi zmdi-help-outline"></i>
                                FAQ Manager
                            </a>
                        </li>

                        <li>
                            <a href="/admin/reading-requests/">
                                <i class="zmdi zmdi-face"></i>
                                Reading Requests
                            </a>
                        </li>

                    </ul>
                </div>
            </aside>

            <section class="content">

                {% if breadcrumbs %}
                    <nav aria-label="breadcrumb" role="navigation">
                        <ol class="breadcrumb">
                            {% for (url, label) in breadcrumbs %}
                                <li class="breadcrumb-item">
                                    <a href="{{ url }}">
                                        {{ label }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ol>
                    </nav>
                {% endif %}

                {% block content %}
                {% endblock %}

            </section>
        </main>

        <!-- Javascript -->
        <!-- Vendors -->
        <script src="{{ resource('/jquery.3.2.1.min.js') }}"></script>
        <script src="{{ resource('/smartadmin/vendors/bower_components/popper.js/dist/umd/popper.min.js') }}"></script>
        <script src="{{ resource('/smartadmin/vendors/bower_components/bootstrap/dist/js/bootstrap.min.js') }}"></script>
        <script src="{{ resource('/smartadmin/vendors/bower_components/jquery.scrollbar/jquery.scrollbar.min.js') }}"></script>
        <script src="{{ resource('/smartadmin/vendors/bower_components/jquery-scrollLock/jquery-scrollLock.min.js') }}"></script>

        <script src="{{ resource('/smartadmin/js/app.min.js') }}"></script>
        <script src="{{ resource('/main.js') }}"></script>
    </body>
</html>
