{% macro render(faqs) %}

<table class="table mb-0">
    <thead>
        <tr>
            <th>ID</th>
            <th>Order</th>
            <th>Title</th>
            <th>Deprecated</th>
        </tr>
    </thead>
    <tbody>
        {% for faq in faqs %}
            <tr>
                <td>
                    <a href="{{ faq.urlAdmin() }}">
                        {{ faq.id }}
                    </a>
                </td>
                <td>
                    {{ faq.order }}
                </td>
                <td>
                    {{ faq.title }}
                </td>
                <td>
                    {{ faq.deprecated }}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endmacro %}
