{% macro text(name, value, label, type="text") %}
    <div class="form-group">
        <label for="{{ name }}">{{ label }}</label>
        <input
            class="form-control"
            placeholder="{{ label }}"
            type="{{ type }}"
            name="{{ name }}"
            id="{{ name }}"
            value="{{ value or '' }}"
        />
        <i class="form-group__bar"></i>
    </div>
{% endmacro %}
