{% macro text(
    name,
    value,
    label,
    type="text",
    readonly=False,
    step=None
) %}
    <div class="form-group">
        <label for="{{ name }}">{{ label }}</label>
        <input
            class="form-control"
            placeholder="{{ label }}"
            type="{{ type }}"
            name="{{ name }}"
            id="{{ name }}"
            value="{{ value or '' }}"
            {% if readonly %}readonly{% endif %}
            step="{{ step }}"
        />
        <i class="form-group__bar"></i>
    </div>
{% endmacro %}

{% macro file(
    name,
    label
) %}
    <div class="form-group">
        <label for="{{ name }}">{{ label }}</label>
        <input
            class="form-control"
            type="file"
            name="{{ name }}"
            id="{{ name }}"
        />
        <i class="form-group__bar"></i>
    </div>
{% endmacro %}
