{% import 'admin/form.jinja2' as form %}

{% extends 'admin/base.jinja2' %}

{% block content %}
<form method="POST" class="schedule-editor">
    <div class="card">
        <div class="actions">
            <button class="btn btn-link btn-clear" type="submit" name="regenerate" value="true">
                <i class="actions__item zmdi zmdi-sun"></i>
            </button>

            <button class="btn btn-link btn-clear" type="submit">
                <i class="actions__item zmdi zmdi-floppy"></i>
            </button>            
        </div>

        <div class="card-body">
            <h4 class="card-title">Schedule Details</h4>

            {{ form.text('name', schedule.name, "Schedule Name") }}

            <h5>Schedule Spec:</h5>
            <textarea name="spec" class="schedule-src">{{ schedule.spec or "" }}</textarea>
        </div>
    </div>
</form>

{% endblock %}
