{% import 'admin/scheduleTable.jinja2' as scheduleTable %}

{% extends 'admin/base.jinja2' %}

{% block content %}

<div class="card">
    <div class="actions">
        <a href="/admin/schedules/new/" class="actions__item zmdi zmdi-plus"></a>
    </div>

    <div class="card-body">
        <h4 class="card-title">Schedules</h4>

        {{ scheduleTable.render(schedules) }}
    </div>
</div>

{% endblock %}
