{% import 'admin/form.jinja2' as form %}
{% import 'admin/timeslotEventTable.jinja2' as timeslotEventTable %}

{% extends 'admin/base.jinja2' %}

{% block content %}

<form method="POST">
    <div class="card">
        <div class="actions">
            {% if not timeslot.deprecated %}
                <button
                    class="btn btn-link btn-clear"
                    type="button"
                    name="deprecated"
                    value="true"
                >
                    <i class="actions__item zmdi zmdi-delete"></i>
                </button>
            {% endif %}
            <button class="btn btn-link btn-clear" type="submit">
                <i class="actions__item zmdi zmdi-floppy"></i>
            </button>
        </div>

        <div class="card-body">
            <h4 class="card-title">Timeslot Details</h4>

            {{ form.text('name', timeslot.name, "Timeslot Name") }}
            {{ form.text('time', computerDateTime(timeslot.time), "Time",
                type="datetime-local") }}
            {{ form.text('duration', timeslot.duration, "Duration",
                type='number', step=1) }}
            {{ form.text('secret_key', timeslot.secret_key,
                "Secret Key", readonly=True) }}
            {{ form.text('stream_key', timeslot.stream_key,
                "Stream Key", readonly=True) }}
            {{ form.text('connect_string',
                '%s?secret_key=%s' % (timeslot.stream_key, timeslot.secret_key),
                "Connect String", readonly=True) }}
        </div>
    </div>
</form>

{% if timeslot.id %}
    <form method="POST" action="/admin/broadcast-notification/{{ timeslot.id }}/">
        <div class="card">
            <div class="actions">
                <button class="btn btn-link btn-clear" type="submit">
                    <i class="actions__item zmdi zmdi-mail-send"></i>
                </button>
            </div>

            <div class="card-body">
                <h4 class="card-title">Send Notification</h4>

                {{ form.text('message',
                    "Tarot Tube is about to go live. Tune in for your daily reading!",
                    "Message") }}
            </div>
        </div>
    </form>

    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Timeslot Events</h4>
            {{ timeslotEventTable.render(events) }}
        </div>
    </div>
{% endif %}

{% endblock %}
